body{
  background-color: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10vw;
  cursor: wait;
  transition: background-color 0.2s linear;
  color: white;


  background-color: #010105;
  opacity: 1;
  background-image: radial-gradient(rgba(255, 255, 255, 0.143) 1.1px, #010105 1.1px);
  background-size: 22px 22px;

}
::-webkit-scrollbar{
  display: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}