.masku{
    position: relative;
    overflow: hidden;
    display: inline-flex;
    font-size: 64px;
    color: transparent;

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:  white;
}
@media (max-width:650px) {
    .masku{
        font-size: 50px;
    }
}
